# Virtual Environments
.venv/
venv/
ENV/

# Streamlit specific
.streamlit/

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class

# Mac OS specific
.DS_Store

# Environment variables / Secrets
.env